<section id="photography">
  <h1 class="title">
    <%=@title %>
  </h1>
  <div class="form-photography">
    <div class="content">
      <%= form_for(@photography, :html => { :multipart => true }) do |f| %>
        <% if @photography.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@photography.errors.count, "error") %> prohibited this photography from being saved:</h2>

            <ul>
            <% @photography.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.text_field :name, :placeholder => "Nombre:" %>
        </div>
        <div class="field">
          <%= f.text_area :description, :placeholder => "Escribe una description de la Fotografía:" %>
        </div>
        <div class="field-file">
          <%= f.file_field :images, :id => "uploadBtn", :multiple => true  %>
          <span>Seleccionar archivo</span>
           <input id="uploadFile" disabled="disabled" />
        </div>

        <div class="actions">
          <%= f.submit "Agregar Fotografía" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
