<% @title = "| fotografía |" %>
<% if user_signed_in? %>
  <section id="photography">

    <%= link_to 'Agregar Fotografia', new_photography_path, :class => "add-photo" %>
    <article class="gallery">
      <div class="content">
        <% @photographies.each do |photography| %>

          <div class="row hover-photo">
            <div class="bottons">
              <%= link_to edit_photography_path(photography) do %>
                <span class="ion-android-create"></span>
              <% end %><%= link_to photography, method: :delete, data: { confirm: 'Are you sure?' } do%>
                <span class="ion-android-delete"></span>
              <% end %>
            </div>
            <%= cl_image_tag(photography.url_image.url, :class => "url-image") %>
            <div class="description">
              <h1><%= photography.name%></h1>
              <hr>
              <p><%= photography.description%></p>
            </div>
          </div>
        <% end %>
      </div>
    </article>
    </section>
<% else %>
   <section id="photography">
    <article class="gallery">
      <div class="content">
        <% @photographies.each do |photography| %>
          <div class="row hover-photo">
            <%= cl_image_tag(photography.url_image.url, :class => "url-image") %>
            <div class="description">
              <h1><%= photography.name%></h1>
              <hr>
              <p><%= photography.description%></p>
            </div>
          </div>
        <% end %>
      </div>
    </article>
  </section>
<% end %>

<div class="cortina"></div>
<figure class="show">
  <span class="ion-android-cancel close"></span>
  <img src="" class="insert-url" alt="">
</figure>
