<!DOCTYPE html>
<html>
<head>
  <title><%=@title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <%= csrf_meta_tags %>
</head>
<body>

	<nav id="navigation">
		<a href="/" class="logo">
			<%= image_tag "logo.png" %>
		</a>
		<ul class="content">
			<% if user_signed_in? %>
				<li id="open-options">
					<span class="ion-android-options "></span>
				</li>
				<div class="menu-admin">
					<li><a href="/categories">Categorias</a></li>
					<li><a href="/photographies">Fotografias</a></li>
					<li><a href="">Video</a></li>
					<li>
						<%= link_to destroy_user_session_path, method: :delete, :class => 'li-standar' do%>
            				Cerrar Sesion
         				<%end%>
         			</li>
				</div>
				<li>
					<span class="ion-android-apps small unselected"></span>
				</li>
				<li>
					<span class="ion-android-expand big selected"></span>
				</li>
				<li>
					<span class="ion-android-menu menu-open"></span>
				</li>
			<% else %>
				<li>
					<span class="ion-android-apps small unselected"></span>
				</li>
				<li>
					<span class="ion-android-expand big selected"></span>
				</li>
				<!-- <li>
					<span class="ion-android-menu menu-open"></span>
				</li> -->
			<% end %>
		</ul>
	</nav>

	<nav id="menu">
		<span class="ion-android-remove close-menu"></span>
		<ul class="content">
			<li><a href="/">Home</a></li>
			<li><a href="">Sobre</a></li>
			<li><a href="/contact">Contacto</a></li>
			<li><a href="">Creditos</a></li>
		</ul>
	</nav>

	<%= yield %>


<div class="sobre">

</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
